html body{
        height: 100%;
        background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVP3I8AiKskPpLtijffaaEFJU9hcTGJUgXWu3n-zsDylhHcN7P");
        background-size: cover;
        background-attachment: fixed;
       
    }

    .card{
        height: 330px;
        background-color: black;
        color:white;
        font-weight: bold;
    }
    .form-control{
        border-width:5px;  
        border-style:groove;
    }
    #status{
        color: red;
    }
    button{
        border-width:2px;  
        border-style:ridge;
    }
    h4{
        color: white; 
        text-align: center;
        margin-left: 40%;
        margin-right: 46%;
        font-weight: bold;
        
    }
    h2{
        font-family: fantasy;
        text-align: center;
        padding-top: 20px;
    }
     .table{
        
        overflow-y: auto; 
        height: 200px;
        background-color: black;
     }
    table th{ 
        position: sticky;
        top: 0; 
        }

    table  { 
        
        border-collapse: collapse; 
        width: 100%; 
    }
    td , tr { 
        padding: 8px 16px;
        border: 1px solid white;
    }
    th     { 
        border: 2px solid white;
        color: white;
        text-align: center;
        
    }
    
    
    #btn-unsub:hover, .btn-disconnect:hover{
        background-color:red;
        color: white;
    }
    #btn-pub:hover ,#btn-sub:hover ,#btn-connect:hover{
        background-color: green;
        color: whte;
    }
    #btn-connect:hover{
        background-color: green;
        color: white;
    }
    