/* html body{
    height: 100%;
    background-image: url("https://images.unsplash.com/photo-1447014886653-534c5b8b85c1?ixlib=rb-1.2.1&auto=format&fit=crop&w=755&q=80");
    background-size: cover;
    background-attachment: fixed;
   
}
h2{
    color: black;
    font-weight:bold;
    background-color: white;
}

.card{
    height: 330px;
    background-color:black;
    color:white;
    font-weight: bold;
}
.form-control{
    border-width:5px;  
    border-style:groove;
}
#status{
    color: red;
    font-weight: bold;
    font-size: 30px;
}
button{
    border-width:2px;  
    border-style:ridge;
}
h4{
   color: white; 
   text-align: center;
   margin-left: 40%;
   margin-right: 46%;
   font-weight: bold;
   
}
h2{
    font-family: fantasy;
    text-align: center;
    padding-top: 20px;
}
 .table{
    
    overflow-y: auto; 
    height: 200px;
    background-color: black;
   
 }
table th{ 
    position: sticky;
    top: 0; 
    }

table  { 
    
    border-collapse: collapse; 
    width: 100%; 
    
    

}
td , tr { 
    padding: 8px 16px;
    border: 2px solid white;
}
th     { 
    border: 2px solid white;
    color: white;
    text-align: center;
    
}


#btn-unsub:hover, .btn-disconnect:hover{
    background-color: red;
    color: white;
}
#btn-pub:hover ,#btn-sub:hover ,#btn-connect:hover{
    background-color: green;
    color: white;
}
#btn-connect:hover{
    background-color: green;;
    color: white;
} */
html body{
    height: 100%;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVP3I8AiKskPpLtijffaaEFJU9hcTGJUgXWu3n-zsDylhHcN7P");
    background-size: cover;
    background-attachment: fixed;
   
}

.card{
    height: 330px;
    background-color: #a517176b;
}
.form-control{
    border-width:5px;  
    border-style:groove;
}
#status{
    color: red;
}
button{
    border-width:2px;  
    border-style:ridge;
}
h4{
   color: black; 
   text-align: center;
   margin-left: 40%;
   margin-right: 46%;
   background-color: #5351516b;
   border-style: outset;
}
h2{
    font-family: fantasy;
    text-align: center;
    padding-top: 20px;
}
 .table{
    
    overflow-y: auto; 
    height: 200px;
    background-color: #5351516b;
 }
table th{ 
    position: sticky;
    top: 0; 
    }

table  { 
    
    border-collapse: collapse; 
    width: 100%; 
}
td , tr { 
    padding: 8px 16px;
    border: 1px solid black;
}
th     { 
    border: 1px solid black;
    color: black;
    
}


#btn-unsub:hover, .btn-disconnect:hover{
    background-color: rgb(235, 130, 148);
    color: rgb(184, 17, 25);
}
#btn-pub:hover ,#btn-sub:hover ,#btn-connect:hover{
    background-color: aqua;
    color: blue;
}
#btn-connect:hover{
    background-color: aqua;
    color: blue;
}
